# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

host_data_dir=./data
host_config_dir=./configs
host_log_dir=./logs
container_log_dir=/app/logs # <- leave this as default
