# --------- pytorch --------- #
torch
torchvision
lightning
torchmetrics
torch-summary
torchinfo
segmentation-models-pytorch

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# --------- loggers --------- #
wandb

# --------- others --------- #
rootutils
pre-commit
rich
pytest
opencv-python
matplotlib
scikit-learn
timm
onnx
onnxruntime-gpu
pynvml
ruff
ipywidgets
ipykernel
pandas
