# --------- pytorch --------- #
torch
torchvision
lightning
torchmetrics
torch-summary
torchinfo
torchsampler

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# --------- loggers --------- #
#wandb

# --------- others --------- #
rootutils       # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
opencv-python
matplotlib
scikit-learn
timm
onnx
onnxruntime
